body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.field {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
}


.cell {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
}